@charset "UFT-8";

body {
	background-color: #e6e6fa;
}

header nav {
  background: #b0c4de;
}

header nav li {
  font-size: 15px;
  margin-right: 15px;
  font-weight: bold;
}

.container-fluid h3 {
  margin-top: 5%;
}

.tamanho {
  font-weight: 900;
}

button.btn1 {
	background: #76D4D6
}

footer {
	background: #b0c4de;
	height: 500px;
	padding-top: 30px;
}

footer hr {
	background: #080c22;
}

/* paleativo */
#git-bottom {
  margin-bottom: -1rem;
}

footer div p {
  color: #080c22;
	font-weight: bold;
  padding: 0;
  margin: 0;
}

footer a {
	color: #080c22;
}

footer .github-icon i {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #080c22;
}

footer .github-icon i:hover {
  color: #ffffff;
  transition: .2s ease all;
}

/*  BREAKPOINTS */

/* DISPOSITIVOS EXTRA SMALL (TELEFONE MODO RETRATO COM MENOS DE 576PX) */
@media (max-width: 575.98px) {
  footer .icones {
    margin-right: 120px;
  }

  footer .mapa {
    margin-right: 27px;
  }
}

/* DISPOSITIVOS EXTRA SMALL (TELEFONE MODO PAISAGEM, COM 576PX OU MAIS) */
@media (min-width: 576px) and (max-width: 767.98px) {
  footer .icones {
    margin-right: 120px;
  }

  footer .mapa {
    margin-right: 27px;
  }
}
