body{
	margin: 0px;
	padding: 0px;
	background-color: #e6e6fa;
	overflow-x: hidden;
	font-family: Helvetica,Arial,sans-serif;
}

header nav{
background: #76D4D6;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: 700;
}

footer{
	background: #76D4D6;
	height: 500px;
	padding-top: 30px;
}

footer hr{
	background: black;
}

footer div p{
	font-weight: bold;
}

footer a{
	color: black;
}

/*BREAKPOINTS*/

/*// Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 

	footer .icones{
		margin-right: 120px;
	}

	footer .mapa{
		margin-right: 27px;
	}

 }

/*// Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

	footer .icones{
		margin-right: 120px;
	}

	footer .mapa{
		margin-right: 27px;
	}

 }

/*// Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

footer .icones{
		margin-right: 120px;
	}

	footer .mapa{
		margin-right: 27px;
	}

 }

/*// Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

footer .icones{
		margin-right: 120px;
	}

	footer .mapa{
		margin-right: 27px;
	}

 }

/*// Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 

	footer .icones{
		margin-right: 120px;
	}

	footer .mapa{
		margin-right: 27px;
	}

 }

 /*FINAL BREAKPOINTS*/